<%- include("./includes/header.ejs", {title: title}); %>

    <h1>Welcome To BBall Insider Stats</h1>
    <p>Welcome to The NBA Info Page!</p>
    <nav>


        <a href="/orginization/all"> Orginization - View All</a> &ndash; This link will take you to our Orginization View page!
        <br />

        <a href="/player/select"> Players - Select Team</a> &ndash; This link will take you to a list of teams to select from!
        <br />
        <a href="/about/view"> About Us</a> &ndash; This link will take you a page about us!
    </nav>
<article>
    <h1>Welcome!</h1>
    This is a website for the average and extreme NBA fan who want to veiw their favorite team and their stats.
    You can also see who is running you favortie team. Click any of the links to begin navigating the website!

</article>
<%- include("./includes/footer.ejs"); %>
