<%- include("../includes/header.ejs", {title:"Search by PPG"}); %>
<h1>Add New Orginization</h1>
<form action="/orginization/ViewResult" method="get">
    Minimum PPg: <input id="number_req" name="number_req" type="text" />
    <br />
    <input type="submit" />

</form>