<%- include("../includes/header.ejs", {title: "Update " + orginization.Team_Name}); %>

<h1>Update <%= orginization.Team_Name%></h1>
<form action="/orginization/update" method="get">
    <input type="hidden" id="Team_Name" name="Team_Name" value="<%= orginization.Team_Name %>">
    <input type="hidden" id="team_number" name="team_number" value="<%= orginization.team_number %>">
  Owner First Name: <input id="Owner_first_name" name="Owner_first_name" type="text" value="<%= orginization.Owner_first_name%>"/>

    Owner Last Name: <input id="Owner_last_name" name ="Owner_last_name" type ='text' value ="<%=orginization.Owner_last_name%>"/>
    <br />
    Manager First Name: <input id="Manager_first_name" name="Manager_first_name" type="text" value="<%= orginization.Manager_first_name%>"/>

    Manager Last Name: <input id="Manager_last_name" name ="Manager_last_name" type ='text' value ="<%=orginization.Manager_last_name%>"/>
    <br />
    Coach First Name: <input id="Coach_first_name" name="Coach_first_name" type="text" value="<%= orginization.Coach_first_name%>"/>

    Coach Last Name: <input id="Coach_last_name" name ="Coach_last_name" type ='text' value ="<%=orginization.Coach_last_name%>"/>
    <br />
    City: <input id="City" name="City" type="text" value="<%= orginization.City%>"/>
    <br />
    State: <input id="State" name ="State" type ='text' value ="<%=orginization.State%>"/>
    <br />
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>
