<%- include("../includes/header.ejs", {title:"Add New Team"}); %>
<h1>Add New Orginization</h1>
<form action="/orginization/insert" method="get">
    Team Name: <input id="Team_Name" name="Team_Name" type="text" />
    <br />
    City:<input id="City" name="City" type ="text" />    State:<input id="State" name="State" type ="text" />
    <br />
    Division:<input id="Division" name="Division" type ="text" />
    Conferance:<input id="Conderance" name="Conferance" type ="text" />
    <br />
    Owner First Name: <input id="Owner_first_name" name="Owner_first_name" type="text" /> Owner Last Name: <input id="Owner_last_name" name="Owner_last_name" type="text" />
    <br />
    Manager First Name: <input id="Manager_first_name" name="Manager_first_name" type="text" /> Manager Last Name: <input id="Manager_last_name" name="Manager_last_name" type="text" />
    <br />
    Coach First Name: <input id="Coach_first_name" name="Coach_first_name" type="text" /> Manager Last Name: <input id="Coach_last_name" name="Coach_last_name" type="text" />
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>