<%- include("../includes/header.ejs", {title:"Account - " + result[0].Team_Name}); %>
<h1>Orginization Information</h1>
<ul>
    <li>Team Name:  <%= result[0].Team_Name %> </li>
    <li>City: <%=result[0].City%> </li>
    <li>State:  <%=result[0].State%> </li>
    <li>Owner Name:  <%=result[0].Owner_first_name%>   <%=result[0].Owner_last_name%>  </li>
    <li>Manager Name: <%=result[0].Manager_first_name%>  <%=result[0].Manager_last_name%> </li>
    <li>Coaches Name: <%=result[0].Coach_first_name%>   <%=result[0].Coach_last_name%> </li>

</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>