<%- include("../includes/header.ejs", {title:"About Us"}); %>
<nav>
    <a href="/images/r_schema.jpg">Relation Schema</a>
    <br />
    <a href="/images/Er_Diagram .jpg">Er Diagram</a>
    <br />
    <a href="/images/Functional_dependancy.jpg">Functional Dependancy Diagram</a>
</nav>
<article>
    <h1>Welcome to Basketball Insider Website!</h1>
    We are a locally owned business run and founded by Caleb Yost. So far I am the only employee but I am looking to expand soon!
    We are a business strictally about sports. We work our hardest to bring you real and accurate information relating to the sports world.
</article>
<%- include("../includes/footer.ejs"); %>

