<%- include("../includes/header.ejs", {title:"Team View Players"}); %>

<h1>Players for this team.</h1>
<a href="/player/select">Back to view all Players Page</a> <br />
<a href="/player/add">Add New Player</a> &ndash; Click this link to add a new player to this team.<br />

<br />
<nav>
    <table border="1">
        <tr><th>First Name </th><th>Last Name</th><th>Position</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/player/?player_id=<%= result[i].player_id %>"><%=result[i].PLayer_first_name %></a></td>
            <td><a href="/player/?player_id=<%= result[i].player_id %>"><%=result[i].Player_last_name %></a></td>
            <td><a href="/player/?player_id=<%= result[i].player_id %>"><%=result[i].Position %></a></td>

            <td>
                <button onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
                <form action="/player/delete/" style="display:inline;">
                    <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>
</nav>
<article>
    <h1> Team View!</h1>
   This is the tam veiw where you can see all current players for this team.
</article>
<%- include("../includes/footer.ejs"); %>