<%- include("../includes/header.ejs", {title:"Orginization - View All"}); %>

<h1>Results</h1>
<a href="/player/select">Back to view all Players Page</a> <br />


<br />
<nav>
    <table border="1">
        <tr><th>Player Name</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/player/?player_id=<%= result[i].player_id %>"><%=result[i].PLayer_first_name %></a>
                <a href="/player/?player_id=<%= result[i].player_id %>"><%=result[i].Player_last_name %></a></td>


        </tr>
        <% } %>
    </table>
</nav>




<%- include("../includes/footer.ejs"); %>