<%- include("../includes/header.ejs", {title:"Add New Account"}); %>


<a href="/player/select">Back to view all Players Page</a> <br />
<h1>Add New Player</h1>
<form action="/player/insert" method="get">
    Select Add a team to add a Player
    <br />
    <select id="Team_name" name="Team_name" >
        <% for(var i=0; Teams.length > i; i++ ) { %>
        <option value="<%= Teams[i].Team_Name %>"><%= Teams[i].Team_Name %></option>
        <% } %>
    </select>

    <br />
    Player first name:<input id="PLayer_first_name" name="PLayer_first_name" type ="text" />
    <br />
    Player first name:<input id="Player_last_name" name="Player_last_name" type ="text" />
    <br />
    Player number : <input id="player_number" name="player_number" type ="text" />
    <br />
    Position : <input id="Position" name="Position" type ="text" />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>