<%- include("../includes/header.ejs", {title:"Add New Account"}); %>

<a href="/player/select">Back to view all Players Page</a> <br />



<h1>Add New Player</h1>
<form action="/player/insert_stats" method="get">
    <input type="hidden" id="player_id" name="player_id" value=" <%= player.player_id %>">
    Select Add a team to add a Player
    <br />
    <select id="Team_name" name="Team_name" >
        <% for(var i=0; Teams.length > i; i++ ) { %>
        <option value="<%= Teams[i].Team_Name %>"><%= Teams[i].Team_Name %></option>

        <% } %>
    </select>

    <br />
    Points per game(this must be a number):<input id="Points_per_game" name="Points_per_game" type ="text" />
    <br />
   Assists per game(this must be a number):<input id="Assists_per_game" name="Assists_per_game" type ="text" />
    <br />
    Rebounds per game (this must be a number): <input id="Rebounds_per_game" name="Rebounds_per_game" type ="text" />
    <br />
    Blocks per game (this must be a number): <input id="Blocks_per_game" name="Blocks_per_game" type ="text" />
    <br />
    Steals per game (this must be a number): <input id="Steals_per_game" name="Steals_per_game" type ="text" />
    <br />
    Minutes per game (this must be a number): <input id="Minutes_per_game" name="Minutes_per_game" type ="text" />
    <br />
    Year(this must be a number): <input id="Year_happened" name="Year_happened" type ="text" />




    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>