<%- include("../includes/header.ejs", {title: "Update " + player.PLayer_first_name + player.Player_last_name}); %>

<a href="/player/select">Back to view all Players Page</a> <br />

<h1>Update <%= player.PLayer_first_name%> <%= player.Player_last_name%></h1>
<form action="/player/update" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
     Player First Name: <input id="PLayer_first_name" name="PLayer_first_name" type="text" value="<%= player.PLayer_first_name%>"/>
    <br />
    Player Last Name: <input id="Player_last_name" name ="Player_last_name" type ='text' value ="<%=player.Player_last_name%>"/>
    <br />
    Player Number: <input id="player_number" name="player_number" type="text" value="<%= player.player_number%>"/>
    <br />
    Player Position: <input id="Position" name ="Position" type ='text' value ="<%=player.Position%>"/>
    <br />





    <br />
    Trade Player :
    <select id="Team_Name" name="Team_Name">
        <% for(var i=0; teams.length > i; i++ ) {
            var selected = "";

        if(teams[i].Team_Name != null) {


            selected = "selected";
        }
        %>
        <option value="<%= teams[i].Team_Name %>" <%= selected %> ><%= teams[i].Team_Name %></option>

        <% } %>
    </select>
    <br/>
    <br/>


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>